<nav>
  <div class="nav-content">
    <a href="/" class="logo">YAMAHAL</a>
    <ul>
      <% if(session.isLogin){ %> 
      <li><a href="/">Home</a></li>
      <li><a href="/products">Shop</a></li>
      <li><a href="/user/info">Profile</a></li>
      <li><a href="/user/purchases">History</a></li>
      <% if(session.role === "admin"){ %> 
        <li><a href="/sales">All Product</a></li>
        <li><a href="/products/add">Add Product</a></li>
        <li><a href="/products/statistics">Statistics</a></li>
      <% } %> 
      <li><a href="/logout">Log Out</a></li>
      <% } %> 
    </ul>
  </div>
</nav>
