<nav>
  <div class="nav-content">
    <a href="/" class="logo">YAMAHAL</a>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/products">Shop</a></li>
      <li><a href="/user/info">Profile</a></li>
      <li><a href="/user/purchases">History</a></li>
      <li><a href="/logout">Log Out</a></li>
    </ul>
  </div>
</nav>
